<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hero title
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image is-4by3">
          <img src="https://bulma.io/images/placeholders/256x256.png">
        </figure>
        <button class="">Add to cart</button>
      </div>

      <div class="column">
        <ul>
          <li>Model: {{product.model}}</li>
          <li>Price: {{product.price}}</li>
          <li>In stock: {{product.stock}}</li>
          <li>Model: {{product.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
