<h1 class="title">Order List</h1>

<hr>
<app-notification-error [result]="resultMessage"></app-notification-error>
<table class="table is-fullwidth">
  <thead>
  <tr>
    <th>No</th>
    <th>Customer name</th>
    <th>Customer address</th>
    <th>Customer phone</th>
    <th>Status</th>
    <th>Created at</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody *ngIf="orders">
  <tr *ngFor="let order of orders.data; let i = index">
    <td>{{i + 1}}</td>
    <td>{{order.customer?.CusName}}</td>
    <td>{{order.customer?.CusAddress}}</td>
    <td>{{order.customer?.CusPhone}}</td>
    <td>{{order.Status}}</td>
    <td>{{order.DateOut}}</td>
    <td>
      <!--<button (click)="receiveOrder(order.id)" *ngIf="!order.staff_id" class="button is-success">Receive Order</button>-->
      <!--<button *ngIf="order.staff_id && !order.hiring_return" class="button is-warning">Lost</button>-->
      <!--<button *ngIf="order.staff_id && !order.hiring_return" (click)="userReturn(order.id)" class="button is-warning">-->
      <!--Customer Return-->
      <!--</button>-->
      <a [routerLink]="['/admin/order/'+ order.OrdOutID + '/order-detail']" class="button is-info">Order detail</a>
    </td>
  </tr>
  </tbody>
</table>
